	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="#">
		            <img src="./img/logo.png" alt="">
		          </a>
						</div>
						<!-- /footer logo -->

						<p> At Afryk-Mart, we pride ourselves in giving our customers access to readily made African products consisting of a wide range varieties.</p>

						<!-- footer social -->
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">My Account</h3>
						<ul class="list-links">
                            <li><a href="#">My Account</a></li>
							<li><a href="/checkout">Checkout</a></li>
							<li><a href="/login">Login</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Customer Service</h3>
						<ul class="list-links">
							<li><a href="/about">About Us</a></li>
							<li><a href="/shipping">Shiping & Return</a></li>
							<li><a href="/faq">FAQ</a></li>
                            <li><a href="/admin">Admin</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Stay Connected</h3>
						<p>Join our mailing list today to recieve notifications about offers, new products, etc.</p>
						<form>
							<div class="form-group">
								<input class="input" placeholder="Enter Email Address">
							</div>
							<button class="primary-btn">Join Newslatter</button>
						</form>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

		<script>
			function liveSearch(value){
				value = value.trim(); // remove any spaces around the text
				if(value != ""){ // don't make requests with an empty string
					$.ajax({
						url: "search",
						data: {searchText: value},
						dataType: "json",
						success: function(data){
							var res = "";
							// create the html with results
							for(i in data.results){
								res += "<div>"+data.results[i]+"</div>";
							}
							$("#results").html(res);
						}

					});
				}
				else{
					$("#results").html(""); // set the results empty in case of empty string
				}
			}
            function validate(){
                if(document.getElementById('fullname').value == "" ||  document.getElementById('dob').value == "" || 
                 document.getElementById('gender').value == "Select Gender" ||
                   document.getElementById('email').value == "" ||
                   document.getElementById('password').value == "" ||
                  document.getElementById('confirmPassword').value == ""){
                    alert("None of the fields should be empty");
                    return false;
                }

                if(document.getElementById('password').value != document.getElementById('confirmPassword').value){
                    alert("Passwords do not match!");
                    return false;
                }

            }
            function addToCart(id,a,p){
                if (p != 0){
                    if(a == -50){
                       alert("Product has been added to cart.");
                    }else if(a == -100){
                        alert("Product has been removed from cart.");
                    }
                }
                value = id.trim(); // remove any spaces around the text
				if(value != ""){ // don't make requests with an empty string
					$.ajax({
						url: "addToCart",
						data: {product_id: value, action: a },
						dataType: "json",
						success: function(data){
							var res = "";
                            var res2 = '<thead> <tr> <th>Product</th>			<th></th>										<th class="text-center">Price</th>				<th class="text-center">Quantity</th>			<th class="text-center">Total</th>				<th class="text-right"></th>					</tr>	</thead>';
							// create the html with results
                            //console.log(data.results)
                            var tp = 0;
                            var tc = 0;
							for(i in data.results){
                                var image = data.results[i].product_image;
                               res = res + '<div class="product product-widget"> <div class="product-thumb"> <img src="static/img/'+image+'")" alt=""></div><div class="product-body"><h3 class="product-price"> $'+ data.results[i].product_price +'<span class="qty"> x ' + data.results[i].qty+ ' </span></h3><h2 class="product-name"><a href="#">' + data.results[i].product_title+ '</a></h2></div><button id="'+data.results[i].product_id+'" onclick="addToCart(this.id,-100,0)" class="cancel-btn"><i class="fa fa-minus"></i></i></button></div>';
                                tp = tp + data.results[i].qty;
                                tc = tc + (data.results[i].product_price * data.results[i].qty);
                                
                                res2 = res2 + '<tr><td class="thumb"><img src="static/img/'+image+'" alt=""></td><td class="details"><a href="#">'+data.results[i].product_title+'</a><ul> <li><span>Size: XL</span></li><li><span>Color: Camelot</span></li></ul></td>	<td class="price text-center"><strong>  $'+data.results[i].product_price+'</strong><br></td><td class="qty text-center total"><strong> '+data.results[i].qty+'</strong></td>	<td class="total text-center"><strong class="primary-color"> $'+ data.results[i].product_price * data.results[i].qty+ '</strong></td>	<td class="text-right"><button id="'+data.results[i].product_id+'" onclick="addToCart(this.id,-50,0)" class="main-btn icon-btn"><i class="fa fa-plus"></i></button><button id="'+data.results[i].product_id+'" onclick="addToCart(this.id,-100,0)" class="main-btn icon-btn"><i class="fa fa-minus"></i></button></td></tr>' ;
                                
							}
                            res2 = res2+ '<tfoot><tr><th class="empty" colspan="3"></th><th>SUBTOTAL</th><th colspan="2" class="sub-total"> $'+tc+'</th></tr><tr><th class="empty" colspan="3"></th>	<th>SHIPING</th><td colspan="2">Free Shipping</td></tr> <tr><th class="empty" colspan="3"></th><th>TOTAL</th><th colspan="2" class="total">$'+tc+'</th></tr>	</tfoot>';
                            //Fill the shopping cart using Ajax
							$("#shopping-cart-list").html(res);
                            //Fill the total quantity of items in the cart
                            $("#qty").html(tp);
                            //Fill the total cost of items in the cart
                            $("#price_c").html("$"+tc);
                            //Fill the shopping cart table
                            $("#shopping-cart-table").html(res2);
						}

					});
				}
				else{
					$("#shopping-cart-list").html(""); // set the results empty in case of empty string
				}
                console.log(id);
                
            }
            
            
    </script>
	<!-- jQuery Plugins -->
	<script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/slick.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/jquery.zoom.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>

</html>
