{% include 'includes/_layout.html' %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">About Us</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row jumbotron">
                
                <p>Afryk-Mart seeks to give customers access to readily made African products consisting of a wide range of customization variety as well as convenience in prices, delivery system and flexibility in terms of design. Afryk-Mart seeks to be the customer’s number one hub for authentic and quality goods which have been personalized to meet the needs of the customer.. Our ability to provide products and services of high value to our clients would give them the best value in the market as well as generate customer loyalty and attract  more affiliates on the site.</p>
              
              </div>
            </div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% include 'includes/_footer.html' %}