{% include 'includes/_adminLayout.html' %}
<!--  page-wrapper -->
<div id="page-wrapper">


    <div class="row">
        <!--  page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Product Management </h1>


        </div>
        <!-- end  page header -->
    </div>
       {% include 'includes/_messages.html' %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Products
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#addProductModal">Add New Product</button>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Category</th>
                                    <th>Product Title</th>
                                    <th>Price ($)</th>
                                    <th>Descr</th>
                                    <th>Image</th>
                                    <th>Keywords</th>
                                    <th>Brand</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- This function loops through array passed from the app.py -->
                                {% for product in ap %}
                                <tr class="odd gradeX">
                                    <td>{{product.split('#')[0]}}</td>
                                    <td>{{product.split('#')[1]}}</td>
                                    <td>{{product.split('#')[2]}}</td>
                                    <td>{{product.split('#')[3]}}</td>
                                    <td>{{product.split('#')[4]}}</td>
                                    <td><img style="width:50px;height:50px" src="{{ url_for('static', **{'filename' : 'img/'+product.split('#')[5] } ) }}" alt=""></td>
                                    <td>{{product.split('#')[6]}}</td>
                                    <td>{{product.split('#')[7]}}</td>

                                    <td><a href="#" data-toggle="modal" data-target="#{{product.split('#')[0]}}"> <i class="fa fa-pencil-square-o"> Update |</i></a>
                                         <a href="#" data-toggle="modal" data-target="#{{product.split('#')[0]}}1"> <i class="fa fa-trash-o"> Delete </i></a>                                        
                                    </td>
                                </tr>

                                <!-- This is a modal box for deleting products -->
                                <div class="modal fade" id="{{product.split('#')[0]}}1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete {{product.split('#')[2]}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <p>Are you sure you want to delete '{{product.split('#')[2]}}' ?</p>
                                                <form method="POST" action="/delete/{{product.split('#')[0]}}">

                                                    <input type="hidden" name="p_id" class="form-control" value="{{product.split('#')[0]}}">

                                                    <button type="submit" class="btn btn-danger">
                                                        Yes
                                                        <i class="fa fa-frown-o"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">
                                                        N0
                                                        <i class="fa fa-smile-o"> </i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal box for updating a product product, it is prefilled using "value" element in input tags -->
                                <div class="modal fade" id="{{product.split('#')[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Update {{product.split('#')[2]}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" onsubmit="return validate2()" action="/edit/{{product.split('#')[0]}}" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="product-name" class="col-form-label">Product Name:</label>
                                                        <input type="text" class="form-control" id="title" name="title" value="{{product.split('#')[2]}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="product-cat" class="col-form-label">Product Category:</label>
                                                        <br>
                                                        <select id="category" name="category" style="width:360px;height:40px; margin-left:-4px">                                
                                                            {% for item in ca %}    
                                                            {% if item.split('#')[1] == product.split('#')[1]%}                                                        
                                                            <option value="{{item.split('#')[0]}}" selected>{{item.split('#')[1]}}</option>
                                                            {% else %}
                                                            <option value="{{item.split('#')[0]}}">{{item.split('#')[1]}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <!-- <input type="text" class="form-control" id="category" name="category" value="{{product.split('#')[1]}}"> -->
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="product-price" class="col-form-label">Product Brand:</label>
                                                        <br>
                                                        <select id="brand" name="brand" style="width:360px;height:40px; margin-left:-4px">
                                                            {% for brand in brand %}
                                                             {% if brand.split('#')[1] == product.split('#')[7]%}  
                                                            <!-- <option value="Select Category" size="25">Select Category</option> -->
                                                            <option value="{{brand.split('#')[0]}}" selected>{{brand.split('#')[1]}}</option>
                                                            {% else%}
                                                            <option value="{{brand.split('#')[0]}}">{{brand.split('#')[1]}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="product-price" class="col-form-label" max="1">Product price:</label>
                                                        <input type="number" class="form-control" id="price" name="price" min="0" value="{{product.split('#')[3]}}">
                                                    </div>
                                                    <!-- <div class="form-group">
                                                        <label for="product-quantity" class="col-form-label">Product Quantity:</label>
                                                        <input type="number" class="form-control" id="quantity" name="quantity" value="{{product.split('#')[4]}}">
                                                    </div> -->
                                                    <div class="form-group">
                                                        <label for="product-desc" class="col-form-label">Product Description:</label>
                                                        <input type="text" class="form-control" id="description" name="description" value="{{product.split('#')[4]}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="keywords" class="col-form-label">Key Words:</label>
                                                        <input type="text" class="form-control" id="keywords" name="keywords" value="{{product.split('#')[6]}}">
                                                    </div>
                                                    <input type="hidden" class="form-control" id="p_id" name="p_id" value="{{product.split('#')[7]}}">
                                                    <div class="form-group">
                                                        <label for="file Upload" class="col-form-label">File Upload:</label><br>
                                                        <img style="width:35%; height:35%; text-align:center" id="preview" src="{{ url_for('static', **{'filename' : 'img/'+product.split('#')[5] } ) }}" alt="your image" />
                                                        <input type="file" class="form-control" id="fileUpload1" name="fileUpload" accept="image/*"  onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                                                    </div>
                                                    <button type="submit" name="submit" class="btn btn-primary" value="Add Product">Update Product</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor%}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>
<!-- end page-wrapper -->

<!-- Begining of modal box for adding product -->

<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="return validate()" action="/product_mgt"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Product Name:</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="product-cat" class="col-form-label">Product Category:</label>
                        <br>
                        <select id="category" name="category" style="width:360px;height:40px; margin-left:-4px">
                            <option value="Select Category" size="25">Select Category</option>
                            {% for item in ca %}
                            <!-- <option value="Select Category" size="25">Select Category</option> -->
                            <option value="{{item.split('#')[0]}}">{{item.split('#')[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="product-price" class="col-form-label">Product Brand:</label>
                        <br>
                        <select id="brand" name="brand" style="width:360px;height:40px; margin-left:-4px">
                            <option value="Select Brand" size="25">Select Brand</option>
                            {% for brand in brand %}
                            <!-- <option value="Select Category" size="25">Select Category</option> -->
                            <option value="{{brand.split('#')[0]}}">{{brand.split('#')[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="product-price" class="col-form-label" min="1">Product price:</label>
                        <input type="number" class="form-control" id="price" min="0" name="price">
                    </div>
                    <!-- <div class="form-group">
                        <label for="product-quantity" class="col-form-label">Product Quantity:</label>
                        <input type="number" class="form-control" id="quantity" name="quantity">
                    </div> -->
                    <div class="form-group">
                        <label for="product-desc" class="col-form-label">Product Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-form-label">Key Words:</label>
                        <input type="text" class="form-control" id="keywords" name="keywords">
                    </div>
                    <div class="form-group">
                        <label for="file Upload" class="col-form-label">File Upload:</label><br>
                        <img style="width:35%; height:35%; text-align:center" id="preview2" src="#" alt="your image" />
                        <input type="file" class="form-control" id="fileUpload" name="fileUpload" accept="image/*"  onchange="document.getElementById('preview2').src = window.URL.createObjectURL(this.files[0])">
                    </div>
                    <button name="submit" class="btn btn-primary" value="Add Product" type="submit">Add Product</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal box for adding product -->


</div>
<!-- end wrapper -->

<!-- Core Scripts - Include with every page -->
<script>
    function validate(){
        if( document.getElementById("fileUpload").files.length == 0 ){
            swal("Image Field Empty","No Imagefile selected","warning",{timer: 3000});
            return false;
        }
        else if (document.getElementById("title").value=="" || document.getElementById("category").value=="Select Category" || document.getElementById("brand").value=="Select Brand" || document.getElementById("price").value=="" || document.getElementById("description").value=="" || document.getElementById("keywords").value=="") {
            swal("Empty Field","None of the fields should be empty","warning",{timer: 3000});
            return false;
        }
    }

    function validate2(){
            console.log("Hello")
            console.log(document.getElementById("title").value=="");
             console.log(document.getElementById("category").value=="Select Category")
             console.log(document.getElementById("brand").value)
             console.log(document.getElementById("price").value)
             console.log(document.getElementById("description").value)
             console.log(document.getElementById("keywords").value)
        if (document.getElementById("title").value=="" || document.getElementById("category").value=="Select Category" || document.getElementById("brand").value=="Select Brand" || document.getElementById("price").value=="" || document.getElementById("description").value=="" || document.getElementById("keywords").value=="") {
            swal("Empty Field","None of the fields should be empty","warning",{timer: 3000});
            return false;
        }
    }
</script>
<script src="{{ url_for('static', filename= 'assets/plugins/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename= 'assets/plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'assets/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename= 'assets/plugins/pace/pace.js') }}"></script>
<script src="{{ url_for('static', filename= 'assets/scripts/siminta.js') }}"></script>
<!-- Page-Level Plugin Scripts-->
<script src="{{ url_for('static', filename= 'assets/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename= 'assets/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>